/* GRID Container */
body {
    margin: 0px;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100px auto 70px;
    grid-template-areas:
        "topbar topbar topbar"
        "sidebar1 content sidebar2"
        "footer footer footer"

}

/* Grid Items */
header {
    grid-area: topbar;
    background-color: palegreen;
}

article {
    grid-area: content;
    height: 100vh;
    overflow-y: auto;
}

aside { 
    grid-area: sidebar1;
    background-color: lightgray;
}

nav { 
    grid-area: sidebar2;
    background-color: lightgrey;
}

footer { 
    grid-area: footer;
    background-color: paleturquoise;
}

