/* GRID Container */
body {
    margin: 0px;
    font-family: sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 60px auto 70px;
    grid-template-areas:
        "topbar topbar topbar"
        "sidebar1 content sidebar2"
        "footer footer footer";
}
    
/* Grid Items */
header {
    grid-area: topbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    background-image: linear-gradient(#6a8352, #cadb97 90%, #6a8352);
    /* background-image: linear-gradient(to right, #8eff24, #dbffb9); */
}


article {
    grid-area: content;
    padding: 50px;
    height: 75vh;
    overflow-y: auto;
    background-color: white;
    box-shadow: inset 5px 0 20px -5px #cacaca,
                inset -5px 0 20px -5px #cacaca;
}

aside { 
    display: grid;
    grid-area: sidebar1;
    background-color: white;
    box-shadow: inset 0px 0 20px -5px #cacaca,
                inset -5px 0 20px -5px #cacaca;
    border-right: solid 4px white;
    justify-content: center;

}

nav { 
    grid-area: sidebar2;
    background-color: white;
    box-shadow: inset 5px 0 20px -5px #cacaca,
                inset -5px 0 20px -5px #cacaca;
    border-left: solid 4px white;
}

.mainFooter { 
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a8352;
    background-image: linear-gradient(to top, #6a8352, #cadb97 90%, #6a8352);
}

.logoBox{
    display: flex;
    gap: 10px;
    color: white;
    margin-bottom: 10px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    user-select: none;
}

.logo {
    height: 40px;
    margin-top: 5px;
}

.headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a8352;
    cursor: pointer;
    width: 120px;
    height: 35px;
    border: solid 1px white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    

}

.logoText {
        font-size: 40px;
}

