.container {
    display: flex;
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.errorContainer {
    height: 150px;
}

.errorBox {
    margin-top: 100px;
    display: flex;
    border: 1px solid #ddd;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ffcccc;
}

.container form {
    padding: 30px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.container form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container form .inputField {
    width: 100%;
    height: 25px;
    margin: 5px -6px 18px;
    padding: 0 5px;
}

.btn {
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #6a8352;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover{
    opacity: .5;
}

.registerTextBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.registerText {
    color: blue;
    cursor: pointer;
}
