.loginContainer {
    margin: auto;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 8px;
}

.loginHeader {
    
}

.inputStyle {

}

.buttonStyle {

}