.header {
    padding: 30px;
    text-align: center;
    color: black;
    font-size: 30px;
}


.headerBtn:hover {opacity: 80%;}
.headerBtn:active {opacity: 50%;}

.footer {
    
    bottom: 5%;
    border-radius: 4px;
    text-align: center;
    margin: 30px;
    padding: 20px;
    background-color: grey;
    right: 45%;
}

.mainDiv {
    margin-inline: 300px;
    font-size: 20px;
}
