.header {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
}


.headerBtn:hover {opacity: 80%;}
.headerBtn:active {opacity: 50%;}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: solid 1px #6a8352;
    border-radius: 25px;
    background-color: #6a8352;
    color: white;
    cursor: pointer;
    font-size: 30px;
    background-image: linear-gradient(to top, #6a8352, #cadb97 90%, #6a8352);
}

.mainDiv {
    font-size: 20px;
}
