.header {
    display: flex;
    align-items: center;
    font-size: large;
}
    

.profilepic {
    height: 5%;
    width: 10%; 
    float: left;
}


.items {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 32px;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
    background-color: grey;
}


.bioText {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-bottom: 1rem;
}

.foot {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    height: 200px;
    margin: auto;
}